@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* GENERAL */

html, body {
	min-width: 800px;
}

html, samp, body, h1, h2, h3, h4, h5, h6, textarea, select {
	font-family: 'Noto-Sans KR', sans-serif;
}

/*
 *
 * NAV-BAR
 *
 */

/* NAV-BAR GENERAL */

.nav-bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

/* MAIN-BAR GENERAL */

.main-bar {
	padding: 30px 15%;
	border-bottom: 1px solid lightgray;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.main-bar .menu-item {
	border-left: 1px solid white;
}

.main-bar, .main-bar ul {
	background-color: white;
}

/* MAIN-BAR FONT */

.main-bar .menu-item a {
	font-size: 16px;
	font-weight: 500;
	color: gray;
}

/* SUB-BAR GENERAL */

.sub-bar {
	display: none;
	padding: 5px 15%;
	border-bottom: 1px solid lightgray;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.sub-bar, .sub-bar ul {
	background-color: white;
}

/* SUB-BAR FONT */

.sub-bar .menu-item a {
	font-size: 14px;
	color: gray;
}

/*
 *
 * SECTION
 *
 */

/* SECTION GENERAL */

.centered {
	display: block;
	margin: auto;
}

.full-width {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.page-unit {
	height: 100vh;
	padding: 15vh 5% 0 5%;
	border-bottom: 1px solid black;
	background-color: orange;
}